@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(229, 23%, 23%);
}

section {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
}

.img-holder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -50px auto 30px auto;
}

.img-holder img {
  width: 100%;
  display: block;
  height: auto;
}

span,
.city,
.meta {
  color: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
