@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(229, 23%, 23%);
}

section {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
}

.img-holder {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -55px auto 30px auto;
}

.img-holder img {
  width: 100%;
  display: block;
  height: auto;
}

.card-body {
  padding: 0 20px 30px;
}

span,
.city,
.meta {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.name-age {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.age {
  font-weight: 400;
  margin-left: 6px;
}

.city {
  font-size: 1rem;
}

.card-footer {
  border-top: 2px solid hsl(0, 6%, 90%);
  display: flex;
  padding: 0 25px;
}

.card-footer .item {
  flex-grow: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-footer .item .value {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.card-footer .item .meta {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.circles .c1,
.circles .c2 {
  position: absolute;
  width: 800px;
  height: auto;
}

.circles .c1 {
  top: -300px;
  left: -175px;
}

.circles .c2 {
  bottom: -300px;
  right: -175px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
  background-color: #eaeaea;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .card {
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}
